@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #070621;
    color: white;
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: #86a5d3;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a.active{
    color: #86a5d3;
    border-bottom: 3px solid #b74b4b;
}


/* Sections */
section {
    padding: 5rem 9%;
}


@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #86a5d3;
        border-bottom: 3px solid #86a5d3;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #070621;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #86a5d3;
    }
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #070621;
}
.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
span{
    color: #b74b4b;
}
.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-content p{
    font-size: 1.6rem;
}
.home-img{
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    
    filter: drop-shadow(0 0 10px #bdcef9) drop-shadow(0 0 20px #bdcef9);
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 5px #bdcef9) drop-shadow(0 0 20px #bdcef9);
    }
    100% {
        filter: drop-shadow(0 0 7px #bdcef9) drop-shadow(0 0 30px #bdcef9);
    }
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #86a5d3;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #86a5d3;
}
.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #86a5d3;
    box-shadow: 0  0 25px #86a5d3;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #070621;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #86a5d3;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #86a5d3;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale3d(1.03);
    background-color: #86a5d3;
    color: #070621;
    box-shadow: 0 0 25px #86a5d3;
}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span{
    position: relative;
}
.typing-text span::before{
    content: "software Developer";
    color: #86a5d3;
    animation: words 20s infinite;
}
.typing-text span::after{
    content: "";
    background-color: #070621;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #070621;
    right: -8;
    animation: cursor 0.6s infinite;
}
@keyframes cursor{
    to{
        border-left: 3px solid #86a5d3;
    }
}
@keyframes words{
    0%, 25%{
        content: "Programmer";
    }
    26%, 50%{
        content: "CS Student";
    }
    51%, 75%{
        content: "Web Designer";
    }
    76%, 100%{
        content: "College Student";
    }
}
@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}
@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h3{
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

.about {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 5rem;
    padding: 6rem 9%;
    position: relative; 
}

.about-container {
    flex: 1;
    max-width: 60%;
    margin-left: 35rem;
}

.about h2 {
    font-size: 4rem;
    color: #b74b4b;
    margin-bottom: 2rem;
}

.about-box {
    border: 2px solid #86a5d3;
    padding: 2rem;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 300;
    position: relative;
    text-align: center;
    transition: 0.3s ease;
    box-shadow: 0 0 15px rgba(134, 165, 211, 0.5);
}

.about-box:hover {
    box-shadow: 0 0 25px rgba(134, 165, 211, 0.8);
    transform: scale(1.03);
}

h4 {
    font-size: 2.4rem;
    color: #86a5d3;
    margin-top: 3rem;
}

.journey-text {
    font-size: 1.6rem;
    font-weight: 300;
    color: #ddd;
    line-height: 1.8;
    margin-bottom: 1rem;
    margin-top: 20px;
}

.about-img {
    position: absolute;
    bottom: 0;
    left: 0; 
}

.about-img img {
    width: 500px;
    transition: 0.3s ease;
}

.about-img img:hover {
    transform: scale(1.05);
}

.journey-text-wrapper {
    margin-left: 10rem; 
    text-align: justify;
}




.skills {
    background-color: #070621;
    text-align: center;
    position: relative;
}

.skills-top-img img,
.skills-bottom-img img {
    width: 100%; 
    height: auto; 
    margin: 0; 
}

.skills-top-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.skills-bottom-img {
    position: absolute;
    bottom: -20;
    left: 0;
    width: 100%;
}

.skills h2 {
    font-size: 4rem; 
    color: #b74b4b;
    margin-bottom: 4rem; 
    font-weight: bold; 
    text-transform: uppercase;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.skill-box {
    background-color: transparent;
    border: 2px solid #86a5d3;
    padding: 3rem; 
    border-radius: 10px;
    text-align: center;
    width: 30%; 
    transition: 0.3s ease transform; 
    position: relative;
    box-shadow: 0 0 20px rgba(134, 165, 211, 0.5); 
}

.skill-box:hover {
    box-shadow: 0 0 35px rgba(134, 165, 211, 0.8); 
    transform: scale(1.05); 
}

.skill-icon {
    width: 150px; 
    height: 150px;
    margin-bottom: 1.5rem; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.skill-box h3 {
    font-size: 2.5rem; 
    color: #86a5d3; 
    margin-bottom: 1.2rem; 
}

.skill-box p {
    font-size: 1.2rem; 
    color: #f1f1f1; 
    line-height: 1.5; 
}

.projects {
    background-color: #070621;
    text-align: center;
}

.projects h2 {
    font-size: 5rem;
    color: #b74b4b;
    margin-bottom: 7rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem; 
    justify-items: center; 
    align-items: center; 
}

.project-box {
    border: 2px solid #86a5d3;
    padding: 2rem;
    border-radius: 10px;
    width: 100%; 
    transition: 0.3s ease;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-box.filled {
    background-color: #86a5d3;
}

.project-box:hover {
    box-shadow: 0 0 30px rgba(134, 165, 211, 0.8);
}

.project-img {
    width: 250px;
    margin-right: 1.5rem;
}

.project-img img {
    width: 100%;
    height: auto;
}

.project-info h4 {
    font-size: 2.5rem;
    color: #b74b4b;
    margin-bottom: 1rem;
}

.project-info p {
    font-size: 1.75rem;
    color: #f1f1f1;
    line-height: 1.5;
}

.activities {
    background-color: #070621;
    text-align: center;
}

.activities h2 {
    font-size: 5rem;
    color: #b74b4b;
    margin-bottom: 7rem;
}

.activities-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.activity-box {
    border: 2px solid #86a5d3;
    padding: 2rem;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 0 20px rgba(134, 165, 211, 0.8);
    transition: 0.3s ease;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.activity-box:hover {
    box-shadow: 0 0 30px rgba(134, 165, 211, 0.8);
}

.activity-info {
    background-color: transparent;
    padding: 1.5rem;
}

.activity-info h4 {
    font-size: 3rem;
    color: #b2773d;
    margin-bottom: 1rem;
}

.activity-skills {
    background-color: #86a5d3;
    padding: 1rem;
    border-radius: 8px;
}

.activity-skills h5 {
    font-size: 2rem;
    color: #070621;
    margin: 1rem;
}

.activity-skills p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 1.2rem;
}

.activity-link-button {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #070621;
    border-radius: 4rem;
    font-size: 1.2rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
    margin: 2rem;
}

.activity-link-button:hover {
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: #070621;
    box-shadow: 0 0 25px #b74b4b;
}

.activity-image {
    width: 100%;
    height: auto; 
    max-height: 250px; 
    object-fit: contain; 
    border-radius: 10px;
    margin-bottom: 10px;
}

.js-activities-box {
    width: 70%; /* Adjust width as needed */
    margin: 0 auto; /* Center the container */
    border: 2px solid #86a5d3;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(134, 165, 211, 0.8);
    transition: 0.3s ease;
    text-align: left;
    display: flex;
    flex-direction: column;
}
